useDynLib(spp)
importFrom("multicore", "mclapply")
exportClasses(
	"ChIPSeqProfile", 
	"smoothedTagDensity",	
	"AlignedTags",
	"BAMTags", 
	"BowtieTags", 
	"smoothedEnrich", 
	"conservEnrich", 
	"broadRegion", 
	"bindingPos", 
	"IPconf", 
	"Dataset"
)

export(
	"ChIPSeqProfile", 
	"smoothedTagDensity",	
	"AlignedTags",
	"BAMTags", 
	"BowtieTags", 
	"smoothedEnrich", 
	"conservEnrich", 
	"broadRegion", 
	"bindingPos", 
	"IPconf",
	"Dataset"
)
